body {
    background-color: rgb(255, 192, 144);
    font-family: 'Open Sans';
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#header {
    text-align: center;
    width: 100vw;
    background-color: rgb(127, 183, 126);
    margin-bottom: auto;
}

#game-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    height: 100%;
    width: 500px;   
}

#game-header {
    font-size: 30px;
    color: black;
}

button {
    width: 100px;
    height: 100px;
    font-size: 20px;
    border-radius: 12px;    
    color: black;
}

#replay {
    width: fit-content;
    border-radius: 8px;
    padding: 8px 12px;
    visibility: hidden;
    height: auto;
}

#rock {
    background-color: burlywood;
}

#paper {
    background-color: white;
}

#scissors {
    background-color: rgb(96, 182, 231);
}

#outcome {
    height: 30px;
}

#score-container {
    display: flex;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
    width: 100px;
}

#player-score-header {
    background-color: darkred;
    text-align: center;
    width: 100%;
    border-right: 2px solid grey;
    border-bottom: 2px solid grey;
    border-top-left-radius: 12px;
}

#player-score, #computer-score {
    background-color: black;
    width: 100%;
    text-align: center;
}

#player-score {
    border-right: 2px solid grey;
    border-bottom-left-radius: 12px;
}

#computer-score {
    border-bottom-right-radius: 12px;
}

#computer-score-header {
    background-color: blue;
    text-align: center;
    width: 100%;
    border-bottom: 2px solid grey;
    border-top-right-radius: 12px;
}

#outcome {
    font-size: 20px;
    color: black;
}

#footer {
    background-color: rgb(127, 183, 126);
    text-align: center;
    font-size: 18px;
    width: 100%;
}

#footer a {
    color: white;
}

#footer a:visited {
    color: white;
}